<%= form_with model: @page, url: (@page.new_record? ? manage_pages_url : manage_page_url(@page.id)) do |f| %>
  <div class="fieldset">
    <%= f.label :name %>
    <%= f.text_field :name, size: 25 %>
  </div>
  <div class="fieldset">
    <%= f.label :kind %>
    <%= f.select :kind, ['Static Page','Stylesheet'] %>
  </div>
  <div class="fieldset">
    <%= f.label :title %>
    <%= f.text_field :title, size: 50 %>
  </div>
  <div class="fieldset">
    <%= f.label :body %>
    <%= f.text_area :body, size: "75x10" %>
  </div>
  <%= f.submit t('views.pages.new.submit') %>
<% end %>
<%= button_to t('views.pages.edit.delete'), manage_page_url(@page), method: :delete, data: { confirm: "Are you sure you want to do that?" }, class: 'danger' unless @page.new_record? %>
