<div id="page-list" class="list">
  <h1><%= t('views.pages.name') %></h1>
  <ul>
    <% @pages.each do |page| %>
      <li id="page_<%= page.id %>">
        <%= image_tag 'sort.png', class: 'handle' %>
        <%= link_to "/#{page.name}", edit_manage_page_url(page), class: "page-edit-link", remote: true %>
      </li>
    <% end %>
  </ul>
  <br>
  <%= link_to t('views.pages.new.title'), new_manage_page_url %>
</div>
<div id="page-edit" class="edit">
  <%= render partial: 'form' %>
</div>
